/* CHANGE THE MAIN CONTENT LAYOUT TO A SUB-GRID */

    .hero {
        flex-basis: 65%;
        border: 1px solid green;
        height: 30rem;
    }

    .aside-blocks {
        border: 1px solid white;
        flex-basis: 35%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .info-block {
        padding: 1rem;
        border: 1px dashed white;
    }

    .content-blocks {
        gap: 1rem;
        margin: 1rem 0 0 0;
    }

    .card-block {
        border: 1px dashed white;
        min-width: 22rem;
        height: 17rem;
    }

@media (min-width: 50rem) {
    .main-container {
        /* border: 1px solid red; */
        display: flex;
        /* padding: 1rem; */
    }

    .hero {
        flex-basis: 65%;
        border: 1px solid green;
        height: 30rem;
    }

    .aside-blocks {
        border: 1px solid white;
        flex-basis: 35%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin: 0 0 0 0.5rem;
    }

    .info-block {
        padding: 1rem;
        border: 1px dashed white;
    }

    .content-blocks {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin: 1rem 0 0 0;
    }

    .card-block {
        border: 1px dashed white;
        min-width: 22rem;
        height: 17rem;
    }
}