/* mobile layout */

.site-main {
    overflow-y: auto;
    background: var(--bg-main);
    color: var(--overlay-text);
    height: 100%;
    padding: 0 1rem;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

/* system failure style only ------ */
.site-main {
    transition: box-shadow 0.4s ease, filter 0.4s ease;
}

.site-main.system-failure {
    filter: grayscale(0.2) contrast(0.9);
    /* red glow */
    box-shadow:
        var(--error-inset-shadow),
        var(--error-outset-shadow);
    transition: box-shadow 0.5s ease-in-out;
}

/*  ------- end system failure style */

.project-tile-container {
    /* border: 0.0625rem dashed rgb(52, 214, 239); */
    grid-column: 1 / 13;

    /* Tile Positioning & Style */
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 0.75rem;
}

.project-tile {
    border: 0.0625rem solid var(--sys-light);
    padding: 0.125rem .3rem;
    border-radius: 0.25rem;
    background: var(--sys-light);
    color: var(--sys-black);
}

.project-tile:hover {
    color: var(--sys-light);
    background: var(--bg-dark);
    cursor: pointer;
    border: 0.0625rem solid var(--sys-green);
}

.project-tile.active {
    border: 0.0625rem solid var(--sys-green);
    color: var(--sys-black);
    background: var(--sys-green);
}

.hero {
    grid-column: 1 / 13;
    grid-row: 2;
    height: 16rem;
    position: relative;
    overflow: hidden;
}

/* Hero Title Style */
.hero-text {
    position: absolute;
    line-height: 1.25;
    margin: 0;
    bottom: 4rem;
    z-index: 1;
    padding: 0.5rem 1rem;
}

.hero-title {
    font-size: 3rem;
}


.hero-caption {
    font-size: 1rem;
}

.aside-container {
    grid-column: 1 / 13;
    display: flex;
    flex-direction: column;
    padding: 0.25rem 0.5rem;
    overflow-y: hidden;
}

.aside-container,
.card-item {
    background-color: var(--bg-panel);
    border: 0.0625rem solid var(--border-subtle);
    backdrop-filter: blur(10px);
}

.aside-title {
    font-size: 1rem;
}

.aside-block {
    border: .0625rem solid var(--border-subtle);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    transition: ease-in 0.35s;
}

.aside-block:hover {
    border: .0625rem solid var(--sys-green);
    cursor: pointer;
    color: black;
    background: var(--sys-green);
}

sup {
    color: var(--sys-green);
}

/* Card Section */
.card-container {
    grid-column: 1 / 13;
    grid-row: 6 / 14;

    /* Card Sub Grid */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
}

.card-title {
    grid-row: 1;
    grid-column: 1 / 13;
    font-size: 1rem;
}

.card-one,
.card-two,
.card-three {
    position: relative;
    overflow: hidden;
    border: 0.0625rem solid var(--border-subtle);
    min-height: 22rem;
    cursor: pointer;
}

.card-one:not(.card-disabled):hover,
.card-two:not(.card-disabled):hover,
.card-three:not(.card-disabled):hover {
    border: 0.0625rem solid var(--sys-green);
    /* Optional: add a slight lift effect to show it's clickable */
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

.card-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-content {
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    z-index: 1;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

}

.card-header {
    font-size: 2rem;
}

.card-description {
    line-height: 1.5;
}

.contributors-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.card-contributors {
    border: 0.0625rem solid var(--sys-green);
    padding: 0.75rem 0.25rem;
}

.card-text {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 1;
    margin: 0;
}

.card-one {
    grid-column: 1 / 13;
}

.card-two {
    grid-column: 1 / 13;
}

.card-three {
    grid-column: 1 / 13;
}

/* offline card styles */
.card-one.card-disabled,
.card-two.card-disabled,
.card-three.card-disabled {
    border: 0.0625rem dashed var(--sys-red);
    cursor: not-allowed;
    /* turn off the raise transition */
    pointer-events: none;
}

.card-error-state {
    padding: 2.5rem 1.25rem;
    text-align: center;
}

.offline-emoji {
    font-size: 2rem;
    margin: 0 0 .625rem 0;
}

.data-link-severed {
    color: var(--sys-red);
    margin: 0 0 .625rem 0;
}

.card-error-state-details {
    font-size: 0.8rem;
    color: var(--text-dim);
}

/* Footer */
.grid-footer {
    text-align: center;
    grid-column: 1 / 13;
    grid-row: 14;
    color: var(--text-dim);
}

/* Border Radius & Box Shadow for Grid Items, Blocks & Cards */
.border-radius {
    border-radius: 0.5rem;
}

.box-shadow {
    box-shadow: rgb(0, 0, 0) 0px 0.5rem 1.875rem -.625rem;
}

h2 {
    font-size: 1.5rem;
}

/* Dark IMG Overlay */
.overlay::after,
.card-overlay::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, transparent, var(--overlay-dark));
}

span.stable-version {
    font-size: 0.6rem;
    background: var(--bg-dark);
    padding: .125rem .3125rem;
    border-radius: .25rem;
    color: var(--sys-green);
}

.view-link-btn {
    padding: 0.25rem 0.5rem;
}

/* Desktop Layout - Main Content */
@media (min-width: 50rem) {
    .main-container {
        grid-template-rows: 0.5fr repeat(12, 1fr);
        height: 100%;
        padding: 0.5rem;
    }

    .hero {
        grid-column: 1 / 9;
        grid-row: 2 / 9;
        height: auto;
    }

    .hero-img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .hero-text {
        position: absolute;
        line-height: 1.25;
        margin: 0;
        bottom: 2rem;
        z-index: 1;
        padding: 0.5rem 1rem;
    }

    .aside-container {
        grid-column: 9 / 13;
        grid-row: 2 / 9;
        display: flex;
        flex-direction: column;
        padding: 0.25rem 0.5rem;
        background: #111;
    }

    .aside-title {
        font-size: 1rem;
    }

    /* Card Section */
    .card-container {
        /* Grid Position from Main-Container */
        grid-column: 1 / 13;
        /* this is '9 / 14' bcuz i added an extra 0.5fr row above for the .title */
        grid-row: 9 / 14;

        /* Card Sub Grid */
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 0.5rem 1rem;
        min-height: 10rem;
    }

    .card-title {
        grid-row: 1;
        grid-column: 1 / 13;
        font-size: 1rem;
    }

    .card-one,
    .card-two,
    .card-three {
        position: relative;
        overflow: hidden;
        min-height: 5rem;
    }

    .card-img {
        position: relative;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .card-header {
        font-size: 1.5rem;
    }


    .card-one {
        grid-column: 1 / 5;
        grid-row: 2 / 13;
        border: 0.0625rem solid rgba(0, 0, 0, 0.133);
    }

    .card-two {
        grid-column: 5 / 9;
        grid-row: 2 / 13;
        border: 0.0625rem solid rgba(0, 0, 0, 0.133);

    }

    .card-three {
        grid-column: 9 / 13;
        grid-row: 2 / 13;
        border: 0.0625rem solid rgba(0, 0, 0, 0.133);
    }

    .grid-footer {
        font-size: 0.8rem;
    }


}