/* mobile layout */
.main-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
}

.project-tile-container {
    /* border: 1px dashed rgb(52, 214, 239); */
    grid-column: 1 / 13;

    /* Tile Positioning & Style */
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.project-tile {
    border: 0.0625rem solid #d9d9d9;
    padding: 0.125rem .3rem;
    border-radius: 0.25rem;
    background: #d9d9d9;
    color: #333;
}

.project-tile:hover {
    color: #fff;
    background: #333;
    cursor: pointer;
    border: 0.0625rem solid rgb(0, 255, 140);
}

.project-tile.active {
    border: 0.0625rem solid rgb(0, 255, 140);
    color: #000000;
    background: rgb(0, 255, 140);
}

.hero {
    grid-column: 1 / 13;
    grid-row: 2;
    height: 16rem;
    position: relative;
    overflow: hidden;
}

/* Hero Title Style */
.hero-text {
    position: absolute;
    line-height: 1.25;
    margin: 0;
    bottom: 4rem;
    z-index: 1;
    padding: 0.5rem 1rem;
}

.hero-title {
    font-size: 3rem;
}


.hero-caption {
    font-size: 1rem;
}

.aside-container {
    grid-column: 1 / 13;
    display: flex;
    flex-direction: column;
    padding: 0.25rem 0.5rem;
    gap: 0.5rem;
    /* allows internal scroll instead of spilling */
    overflow-y: auto;
    min-height: 0;
    background: #111;
}

.aside-title {
    font-size: 1rem;
}

.aside-block {
    border: .0625rem solid rgba(255, 255, 255, 0.185);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    transition: ease-in 0.35s;
}

.aside-block:hover {
    border: .0625rem solid rgb(0, 255, 140);
    cursor: pointer;
    color: black;
    background: rgb(0, 255, 140);
}

sup {
    color: rgb(0, 255, 140);   
}

/* Card Section */
.card-container {
    /* Grid Position from Main-Container */
    grid-column: 1 / 13;
    /* this is '9 / 14' bcuz i added an extra 0.5fr row above for the .title */
    grid-row: 10 / 14;

    /* Card Sub Grid */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 0.5rem 1rem;
}

.card-title {
    grid-row: 1;
    grid-column: 1 / 13;
    font-size: 1rem;
}

.card-one,
.card-two,
.card-three {
    position: relative;
    overflow: hidden;
    border: 0.0625rem solid rgba(255, 6, 6, 0.133);
    min-height: 22rem;
    cursor: pointer;
}

.card-one:hover,
.card-two:hover,
.card-three:hover {
    border: 0.0625rem solid rgb(0, 255, 140);

}

.card-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-content {
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    z-index: 1;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

}

.card-header {
    font-size: 2rem;
}

.card-description {
    line-height: 1.5;
}
.contributors-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.card-contributors {
    border: 1px solid green;
    padding: 0.75rem 0.25rem;
}

.card-text {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 1;
    margin: 0;
}

.card-one {
    grid-column: 1 / 13;
}

.card-two {
    grid-column: 1 / 13;
}

.card-three {
    grid-column: 1 / 13;
}

/* Footer */
.grid-footer {
    background: #131313;
    text-align: center;
    grid-column: 1 / 13;
    grid-row: 14;
    color: rgb(81, 80, 80);
}

/* Border Radius & Box Shadow for Grid Items, Blocks & Cards */
.border-radius {
    border-radius: 0.5rem;
}

.box-shadow {
    box-shadow: rgb(0, 0, 0) 0px 0.5rem 1.875rem -.625rem;
}

h2 {
    font-size: 1.5rem;
}

/* Dark IMG Overlay */
.overlay::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(3, 3, 3, 0.5);
}

/* Dark IMG Overlay */
.card-overlay::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(3, 3, 3, 0.835);
}


/* Desktop Layout - Main Content */
@media (min-width: 50rem) {
    .main-container {
        grid-template-rows: 0.5fr repeat(12, 1fr);
        gap: 1rem;
        height: 100%;
        padding: 0.5rem 1.5rem;
        background: #131313;
    }

    .hero {
        grid-column: 1 / 9;
        grid-row: 2 / 9;
        height: auto;
    }

    .hero-img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .hero-text {
        position: absolute;
        line-height: 1.25;
        margin: 0;
        bottom: 2rem;
        z-index: 1;
        padding: 0.5rem 1rem;
    }

    .aside-container {
        grid-column: 9 / 13;
        grid-row: 2 / 9;
        display: flex;
        flex-direction: column;
        padding: 0.25rem 0.5rem;
        gap: 0.5rem;
        /* allows internal scroll instead of spilling */
        overflow-y: auto;
        min-height: 0;
        background: #111;
    }

    .aside-title {
        font-size: 1rem;
    }

    /* Card Section */
    .card-container {
        /* Grid Position from Main-Container */
        grid-column: 1 / 13;
        /* this is '9 / 14' bcuz i added an extra 0.5fr row above for the .title */
        grid-row: 9 / 14;

        /* Card Sub Grid */
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 0.5rem 1rem;
        min-height: 10rem;
    }

    .card-title {
        grid-row: 1;
        grid-column: 1 / 13;
        font-size: 1rem;
    }

    .card-one,
    .card-two,
    .card-three {
        position: relative;
        overflow: hidden;
        min-height: 5rem;
    }

    .card-img {
        position: relative;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .card-header {
        font-size: 1.5rem;
    }


    .card-one {
        grid-column: 1 / 5;
        grid-row: 2 / 13;
        border: 0.0625rem solid rgba(0, 0, 0, 0.133);
    }

    .card-two {
        grid-column: 5 / 9;
        grid-row: 2 / 13;
        border: 0.0625rem solid rgba(0, 0, 0, 0.133);

    }

    .card-three {
        grid-column: 9 / 13;
        grid-row: 2 / 13;
        border: 0.0625rem solid rgba(0, 0, 0, 0.133);
    }

    .grid-footer {
        color: #ffffff81;
        font-size: 0.8rem;
    }


}