/* ++++++++++ start [HEADER] styles (mobile) ++++++++++ */

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0.5rem;
  background: var(--bg-main);
  border-bottom: 0.0625rem solid var(--border-subtle);
}

/* breadcrumbs */

.page-title {
  padding: 0;
  display: inline;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--text-main);
  text-transform: uppercase;
}

/* name, job title */
.user-meta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-left: 1px solid var(--border-subtle);
  padding-left: 0.75rem;
  margin-left: 0.5rem;
}

.my-name {
  padding: 0;
  font-size: 0.85rem;
  letter-spacing: 0.05rem;
  color: var(--user-role-dev);
}

.user-role {
  display: block;
  font-size: 0.55rem;
  color: var(--text-main);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

/* (header) system status */
.header-right {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  text-align: right;
}

.header-status {
  font-size: 0.6rem;
  padding: 0.15rem 0.4rem;
  border-radius: 0.25rem;
  /* border around system status */
  border: 1px solid;
  text-transform: uppercase;
  font-weight: bold;
}

.header-status.online {
  color: var(--sys-status-online);
  border-color: var(--sys-green);
  background: var(--sys-status-online-bg);
}

.header-status.degraded {
  color: var(--sys-status-offline);
  border-color: var(--sys-red);
  background: var(--sys-status-offline-bg);
}


/* ++++++++++ start [DESKTOP] layout ++++++++++ */
@media (min-width: 50rem) {
  .user-meta {
    flex-direction: row;
    /* Back to side-by-side on desktop */
    align-items: center;
    padding-left: 1rem;
  }

  .my-name {
    padding: 0 1rem;
    font-size: 1rem;
  }

  .page-title {
    font-size: 1.1rem;
  }

}